<div class="about-container">
  <div class="hero">
    <img
      src="https://www.bankrate.com/2018/11/29130006/How-to-buy-a-car-10-tips-and-tricks-to-get-the-best-deal.jpg?auto=webp&optimize=high&crop=16:9"
      width="100%"
      alt=""
    />
    <h3>A car for every person.</h3>
  </div>

  <h2 class="hero-conection">
    To drive integrity by being honest & transparent in every interaction.
  </h2>

  <div class="row">
    <div class="title-container">
      <div class="vertical-line"></div>
      <h2>about</h2>
    </div>
    <p>
      At Cars4U, our commitment to innovation and iconic customer experiences
      have made us the nation’s largest retailer of used cars. As the original
      disruptor of the automotive industry, our “no-haggle” prices transformed
      car buying and selling from a stressful, dreaded event into the honest,
      straightforward experience all people deserve. We’ve been raising the bar
      on customer  experiences ever since. Today, our customers have the ability
      to buy completely on their terms, whether that’s online, in the store, or
      using a seamless combination of both. Couple our flexibility with our
      industry-leading Love Your Car Guarantee, including 24-hour test drives
      and 30-day returns (up to 1500 mi.), and today we’re delivering iconic car
      buying experiences unlike any you’ve seen before.
    </p>
  </div>
</div>
