button {
  margin-left: 50px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 10px;
}

.car-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 450px));
  justify-content: center;
  gap: 30px;
  align-content: center;
  width: 100%;
  margin-bottom: 170px;
}
